<?xml version="1.0"?>
<Settings>
  <Preferences>
    <DeprecatedDescription>## This package has been deprecated. It has been replaced by the dependency shown below.</DeprecatedDescription>
    <DeprecatedIconUrl>https://cdn.staticaly.com/gh/bcurran3/ChocolateyPackages/master/mylogos/deprecated.png</DeprecatedIconUrl>
    <RetiredDescription>## This package has been retired.</RetiredDescription>
    <RetiredIconUrl>https://cdn.staticaly.com/gh/bcurran3/ChocolateyPackages/master/mylogos/retired.png</RetiredIconUrl>
  </Preferences>
</Settings>

<!--
choco-package-deprecater.config preferences notes:

DeprecatedDescription - Custom nuspec description for deprecattion.
DeprecatedIconUrl     - Custom URL to image to use for deprecattion.
RetiredDescription    - Custom nuspec description for retirement.
RetiredIconUrl        - Custom URL to image to use for retirement.

-->
