<?xml version="1.0"?>
<Settings>
  <Preferences>
    <DeprecatedDescription>##This package has been deprecated. It has been replaced by the dependency shown below.</DeprecatedDescription>
    <DeprecatedIconUrl>https://raw.githubusercontent.com/bcurran3/ChocolateyPackages/master/mylogos/deprecated.png</DeprecatedIconUrl>
    <RetiredDescription>##This package has been retired.</RetiredDescription>
    <RetiredIconUrl>https://raw.githubusercontent.com/bcurran3/ChocolateyPackages/master/mylogos/retired.png</RetiredIconUrl>
  </Preferences>
</Settings>

<!--
choco-package-deprecater.config preferences notes:

DeprecatedDescription - 
DeprecatedIconUrl     - 
RetiredDescription    - 
RetiredIconUrl        - 

-->
