<?xml version="1.0"?>
<Settings>
  <Preferences>
    <DebugInfo>FALSE</DebugInfo>
    <DisplayInfo>TRUE</DisplayInfo>
    <LogInfo>FALSE</LogInfo>
  </Preferences>
</Settings>

<!--
#######################################################################################################################
# You can toggle any above feature by setting it TRUE/FALSE
# 
# LEGEND:
# DebugInfo
#   - Choco-Cleaner-RT hooks should notify that they are running and possible other debug info, TRUE/FALSE
# DisplayInfo
#   - Choco-Cleaner-RT hooks should notify that files were deleted, TRUE/FALSE
# LogInfo
#   - Choco-Cleaner-RT hooks should log file deletions to c:\tools\BCURRAN3\choco-cleaner-rt.log, TRUE/FALSE
#######################################################################################################################
-->