<?xml version="1.0"?>
<Settings>
  <Preferences>
    <DeleteLicenseFiles>FALSE</DeleteLicenseFiles>  
    <DeleteLogs>FALSE</DeleteLogs>
    <DeleteFileLogs>FALSE</DeleteFileLogs>	
    <DeleteArchives>TRUE</DeleteArchives>
    <DeleteMSInstallers>TRUE</DeleteMSInstallers>
    <DeleteIgnoreFiles>TRUE</DeleteIgnoreFiles>
    <DeleteReadmes>TRUE</DeleteReadmes>
    <DeleteOldChoco>TRUE</DeleteOldChoco>
    <DeleteConfigBackupFile>TRUE</DeleteConfigBackupFile>
    <DeleteLibBad>TRUE</DeleteLibBad>
    <DeleteLibBkp>TRUE</DeleteLibBkp>
    <Optimizenupkg>TRUE</Optimizenupkg>
    <DeleteCache>TRUE</DeleteCache>
    <DeleteNuGetCache>TRUE</DeleteNuGetCache>
    <DeleteBadShims>TRUE</DeleteBadShims>
    <DeleteDotChocolatey>TRUE</DeleteDotChocolatey>
    <DeleteLibSynced>FALSE</DeleteLibSynced>
  </Preferences>
</Settings>

<!--
#######################################################################################################################
# You can toggle any above feature by setting it TRUE/FALSE
# 
# LEGEND:
# DeleteLicenseFiles
#   - deletes license.txt and verification.txt files found when packages include binaries
# DeleteLogs
#   - deletes .log files that are not the most current one
# DeleteFileLogs
#   - deletes .zip.txt and other archive-extensions.txt are lists of files that were extracted from an archive file during installation
# DeleteArchives
#   - deletes .zip, .rar, .iso, and various archive files left over from packages that forgot to delete them after install
# DeleteMSInstallers
#   - deletes .msi, .msu, and .msp (Microsoft intall packages) left over from packages that forgot to delete them after install
# DeleteIgnoreFiles
#   - deletes .ignore files created to not shim executables during package install but not needed after shim operations are finished (This may change in a # future version of Chocolatey.)
# DeleteReadmes
#   - deletes readme.txt, credits.txt, and *.md files
# DeleteOldChoco
#   - deletes .old Chocolatey files that have been replaced by newer versions (exe's and dll's mostly)
# DeleteConfigBackupFile
#   - deletes chocolatey.config.backup
# DeleteLibBad
#   - deletes lib-bad folder where packages that failed to install go to die
# DeleteLibBkp
#   - deletes lib-bkp folder where old packages that have been updated go to die
# Optimizenupkg
#   - deletes archives and executables out of .nuspkg files - this is similar to what [Package Reducer](https://chocolatey.org/docs/features-package-reducer) does
# DeleteCache
#  - deletes cached Chocolatey downloaded package files 
# DeleteNuGetCache
#  - deletes cached NuGet downloaded package files
# DeleteBadShims
#  - deletes bad/old Chocolatey shim files
# DeleteDotChocolatey
#  - deletes old Chocolatey package install snapshot files from $env:ChocolateyInstall\.chocolatey
# DeleteLibSynced
#  - deletes lib-synced folder where Chocolatey (licensed) puts packages related to [choco sync](https://docs.chocolatey.org/en-us/features/package-synchronization/sync-command) feature
#######################################################################################################################
-->