<?xml version="1.0"?>
<Settings>
  <Preferences>
    <DeleteNewDesktopIcons>false</DeleteNewDesktopIcons>  
    <DeleteNewStartMenuIcons>false</DeleteNewStartMenuIcons>
	<KillCUPAfter></KillCUPAfter>
	<PreProcessScript></PreProcessScript>
	<PostProcessScript></PostProcessScript>
  </Preferences>
</Settings>

<!--
#######################################################################################################################
# All options are disabled by default
#
# LEGEND:
# * DeleteNewDesktopIcons (True/False)   - delete newly created Desktop icons, user and public, after choco upgrade all
# * DeleteNewStartMenuIcons (True/False) - delete newly created Start Menu icons, user and public, after choco upgrade all
# * KillCUPAfter - Not implemented yet
# * PreProcessScript  - Script/Command to run before choco upgrade all
# * PostProcessScript - Script/Command to run after choco upgrade all
#######################################################################################################################
-->