<?xml version="1.0" encoding="utf-8"?>
<packages>
</packages>

<!--
EDIT THIS FILE ABOVE TO DESIGNATE YOUR PERSISTENT PACKAGES

Edit between the package tags above and insert your list of persistent packages in any of the following formats:

<package id="packagename" />
<package id="packagename" version="1.23" />
<package id="packagename" version="1.23" source="someLocation" />

These Chocolatey packages will be (re)installed on the schedule you specificied during installation of choco-persistent-packages.

If any package is already installed, Chocolatey will attempt and just throw the error packagename vx.x already installed and waste a few seconds of your computer's time. If it's not there, it will be installed.

Official Chocolatey packages.config information can be referenced here: 
https://chocolatey.github.io/usage.html#the-packagesconfig-file

If you want to auto-generate a package list of all your existing packages you can do so with my choco-package-list-backup package. Then just copy the packages.config to \ProgramData\Chocolatey\config and rename packages.config to persistentpackages.config. I recommend doing this and then editing out all non-essential packages.

EDIT THIS FILE ABOVE TO DESIGNATE YOUR PERSISTENT PACKAGES
-->
