# VERIFICATION
Verification is intended to assist the Chocolatey moderators and community in verifying that this package's contents are trustworthy.

## Download
The current release of Disk Wipe can be downloaded from this page:

- https://www.diskwipe.org/download.php

Directly:

- URL     : https://www.diskwipe.org/download/DiskWipe.exe
- Version : 1.7
- SHA256  : 8fd1b5431dba0707ea186b66e882c9a84d6b6033a07a35cb7fc319cf3a744d57

## Verify
You can use one of the following methods to obtain the checksum:
1. Use powershell function 'Get-Filehash'
2. Use chocolatey utility 'checksum.exe'

## License
File 'LICENSE.txt' is obtained by starting the application, clicking the Help
menu and selecting License.
