<?xml version="1.0"?>
<Settings>
  <Preferences>
    <CDN>Staticaly</CDN>
    <UseFooter>false</UseFooter>
	<Footer>
---

$NuspecTitle packaged with pride by $NuspecOwners.

---
    </Footer>
	<UseHeader>false</UseHeader>
	<Header>
---
###[choco://$NuspecID](choco://$NuspecID)
To use choco:// protocol URLs, install [(unofficial) choco:// Protocol support ](https://chocolatey.org/packages/choco-protocol-support)

--- 
    </Header>
	<UsePackageNotes>false</UsePackageNotes>
	<PackageNotes></PackageNotes>
  </Preferences>
</Settings>

<!--
choco-nuspec-checker.config preferences notes:

CDN             - which CDN to use for image links: GitHack, GitCDN, jsDelivr, Staticaly
UseFooter       - Insert footer into description: true/false
UseHeader       - Insert header into description: true/false
UsePackageNotes - Insert package notes into description: true/false
Header          - header message
Footer          - footer message
PackageNotes    - package notes message
-->