<?xml version="1.0"?>
<Settings>
  <Preferences>
    <UpdateAll>false</UpdateAll>
    <CDN>Staticaly</CDN>
    <MakeBackups>false</MakeBackups>
    <OptimizeImages>false</OptimizeImages>
    <Header>
---

###[choco://$NuspecID](choco://$NuspecID)
To use choco:// protocol URLs, install [(unofficial) choco:// Protocol support ](https://chocolatey.org/packages/choco-protocol-support)

--- 
    </Header>
    <UseHeader>false</UseHeader>
    <Footer>
---

$NuspecTitle packaged with pride by $NuspecOwners.

---
    </Footer>
    <UseFooter>false</UseFooter>
    <PackageNotes>
**[PACKAGE NOTES](https://github.com/$NuspecOwners/ChocolateyPackages/blob/master/$NuspecID/readme.md)**
    </PackageNotes>
    <UsePackageNotes>false</UsePackageNotes>
  </Preferences>
</Settings>

<!--
LEGEND:

UpdateAll       - Automatically right all possible wrongs.
CDN             - Which CDN to convert image links to: Staticaly (default), GitHack, GitCDN, jsDelivr
MakeBackups     - Make filename.ext.CNC.BAK of all modified files. (true/false)
OptimizeImages  - Automatically run PNGOptimizerCL on package image files. (true/false)
Header          - Header message to insert at top of package description
UseHeader       - Use the header. (true/false)
Footer          - Footer message to insert at bottom of package description.
UseFooter       - Use the footer. (true/false)
PackageNotes    - Package notes message to insert near bottom of package description.
UsePackageNotes - Use package notes. (true/false)
-->