<?xml version="1.0"?>
<Settings>
  <Preferences>
    <CDN>jsDelivr</CDN>
    <MakeBackups>false</MakeBackups>
    <Offline>false</Offline>
    <OptimizeImages>false</OptimizeImages>
    <ReduceOutput>false</ReduceOutput>
    <UpdateAll>false</UpdateAll>
    <UpdateImageURLs>false</UpdateImageURLs>
    <AddHeader>false</AddHeader>
    <AddFooter>false</AddFooter>
    <AddPackageNotes>false</AddPackageNotes>
    <Header>
---

###[choco://$NuspecID](choco://$NuspecID)
To use choco:// protocol URLs, install [(unofficial) choco:// Protocol support ](https://chocolatey.org/packages/choco-protocol-support)

--- 
    </Header>
    <Footer>
---

$NuspecTitle packaged with pride by $NuspecOwners.

---
    </Footer>
    <PackageNotes>
**[PACKAGE NOTES](https://github.com/$NuspecOwners/ChocolateyPackages/blob/master/$NuspecID/readme.md)**
    </PackageNotes>
  </Preferences>
</Settings>

<!--
LEGEND:

CDN             - Which CDN to convert image links to: jsDelivr (default), GitHack, GitCDN
MakeBackups     - Make filename.ext.CNC.BAK of all modified files. (true/false)
Offline         - Offline mode
OptimizeImages  - Automatically run PNGOptimizerCL on package image files. (true/false)
UpdateAll       - Automatically right all CNC correctable wrongs.
UpdateImageURLs - Automatically converts GitHub raw links to use a CDN
AddHeader       - Use the header. (true/false)
AddFooter       - Use the footer. (true/false)
AddPackageNotes - Use package notes. (true/false)
Header          - Header message to insert at top of package description
Footer          - Footer message to insert at bottom of package description.
PackageNotes    - Package notes message to insert near bottom of package description.
-->